{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>


<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
</head>
<body>
    <h1>BMI Calculator</h1>
    <form method="post">
        {% csrf_token %}
        <label for="height">Height (cm):</label>
        <input type="number" name="height" id="height" required>
        <br>
        <label for="weight">Weight (kg):</label>
        <input type="number" name="weight" id="weight" required>
        <br>
        <button type="submit">Calculate BMI</button>
    </form>
    {% if result %}
        <p>Your BMI is: {{ result }}</p>
    {% endif %}
</body>
</html>


